html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    min-height: 600px;
}
nav {
    border-radius: 0px!important;
}
.nav-row {
    max-height: 0px!important;
}
ul {
    padding: 0;
    list-style-type: none;
}
.locations li {
    font-size: 17px;
    padding-bottom: 5%;
    padding-left: 2%;
}
.locations li a {
    color: #9d9d9d;
}
.filter-box {
    margin-bottom: 10%;
    width: 100%;
}
a {
    text-decoration: none!important;
}